@model bank_accounts.Models.Transaction
<h2>Welcome @ViewBag.CurrentUser.first_name</h2>
<h3>Current Balance: @ViewBag.CurrentUser.balance</h3>

<form method="post" asp-controller="Transactions" asp-action="process" class="form-inline">
    <div class="form-group">
        <span asp-validation-for="amount"></span>
        <label asp-for="amount"></label>
        <input class="form-control" asp-for="amount">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var tran in @ViewBag.CurrentUser.transactions)
            {
                <tr>
                    <td>@tran.amount</td>
                    <td>@tran.created_at.ToString("MMM dd yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
</div>